<div class="side-content col-2 col-sm-2 bg-success text-white bg-opacity-75 fixed pt-2">
    <span style="font-size: 20px;" class="ms-2">List Friend</span>

    {% for friend in user.profile_set.first.friend.all %}
    <div class="friend-line my-2 d-flex flex-row justify-content-between">
      <div>
      <img
          class="avatar rounded-circle"
          alt="avatar"
          src="{{friend.avatar}}"
        />
        <span class="post-username pt-3">{{ friend.fullname}}</span>
        </div>
        <form action="" method="post">
        {% csrf_token %}
          <input type="hidden" value="remove_friend" name="action" />
          <input type="hidden" value={{user.pk}} name="cur_id" />
          <input type="hidden" value={{friend.pk}} name="friend_id" />
          <button class="btn btn-danger" type="submit"> Remove </button>
        </form>
    </div>
    
   {% endfor %}
  </div>