.avatar {
    height: 50px;
    width: 50px;
}

.post-area {
    background-color: #fdf9f9;
    height: 5rem;
    align-items: center;
}

.post-area textarea {
    background-color: #f9f6f6;
    border: none;
    resize: none;
    width: 100%;
    height: 70%;
}

.btn-post {
    height: 40px;
}

.post-main {
    height: 100%;
    width: 100%;
    align-items: center;
}

.post-bottom {}

.post-content {
    background-color: #000;
    width: 100%;
}

.post-content-header{
    position: relative;
    font-weight: bold;
}

.post-content-body{
    max-height: auto;
}
.image-body{
    max-width: 100%;
    height: auto;
}

