.avatar {
    height: 50px;
    width: 50px;
}

.post-area {
    background-color: #fdf9f9;
    height: 20%;
    align-items: center;
}

.post-area textarea {
    background-color: #f9f6f6;
    border: none;
    resize: none;
    width: 100%;
    height: 70%;
}

.btn-post {
    height: 40px;
}

.post-main {
    height: 100%;
    width: 100%;
    align-items: center;
}

.post-bottom {}

.post-content {
    background-color: #fdf9f9;
}