{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-success fixed-top shadow-lg">
      <div class="container-fluid">
        <a class="navbar-brand text-bg-success" href="/posts">Fakebook</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="dropdown"
      data-bs-toggle="dropdown" 
      aria-expanded="false">
        <img
        class="avatar rounded-circle me-2 avatar-profile" 
        alt="avatar"
        data-toggle="tooltip"
        data-placement="bottom"
        title="{{request.user.profile_set.first.fullname}}"
        src="{{request.user.profile_set.first.avatar}}"
      />
        <ul class="dropdown-profile dropdown-menu dropdown-menu-start">
          <a class="dropdown-item" href="{% url 'detail-profile' request.user.id %}">Profile</a>
          <a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a>
        </ul>
      </div>
    </nav>
    <div class="container-fluid body-content">
      <div class="row justify-content-center">
          {% block content %}{% endblock %}
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{% static 'commonJS.js'%}"></script>
  </body>
</html>
