<!--users/templates/users/register.html-->
{% extends 'baseNoLogin.html'%}
{% block title %}Register{% endblock %}


{% block content %}
<div class="d-flex flex-column justify-content-center center-screen form-box">
<span class="h2 form-header">Register</span>
<form method="post">
    {% csrf_token %}
    <div class="container form-body">
        <div class="row row-cols-2">
          <div class="col-3">{{form.username.label}}:</div>
          <div class="col-9 mb-2">{{form.username}}{{form.username.errors}}</div>
          <div class="col-3">{{form.fullname.label}}:</div>
          <div class="col-9 mb-2">{{form.fullname}}{{form.fullname.errors}}</div>
          <div class="col-3">{{form.password1.label}}:</div>
          <div class="col-9 mb-2">{{form.password1}}{{form.password1.errors}}</div>
          <div class="col-3">{{form.password2.label}}:</div>
          <div class="col-9 mb-2">{{form.password2}}{{form.password2.errors}}</div>
        </div>
				<div class="d-flex justify-content-around">
					<input class="btn btn-success" type="submit" value="Register">
					<a class="btn btn-secondary" href="{% url 'signin' %}">Back to login</a>
				<div>
      </div>
</form>
<div>
{% endblock %}